<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="demo"/>
    <springProperty scope="context" name="lokiUrl" source="logging.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>
    <springProperty scope="context" name="lokiEnabled" source="logging.loki.enabled" defaultValue="false"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>
    
    <springProfile name="dev &amp; loki">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${lokiUrl}</url>
                <connectionTimeoutMs>3000</connectionTimeoutMs>
                <requestTimeoutMs>5000</requestTimeoutMs>
            </http>
            <format>
                <label>
                    <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>
                        {
                        "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS}",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger{36}",
                        "message": "%message",
                        "exception": "%ex{full}"
                        }
                    </pattern>
                </message>
            </format>
            <batchTimeoutMs>5000</batchTimeoutMs>
            <sendQueueMaxBytes>41943040</sendQueueMaxBytes>
            <verbose>false</verbose>
        </appender>
        
        <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="LOKI"/>
            <queueSize>256</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <maxFlushTime>0</maxFlushTime>
            <neverBlock>true</neverBlock>
            <includeCallerData>false</includeCallerData>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_LOKI"/>
        </root>
        <logger name="com.example.demo" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
    
    <springProfile name="prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${lokiUrl}</url>
                <connectionTimeoutMs>3000</connectionTimeoutMs>
                <requestTimeoutMs>5000</requestTimeoutMs>
            </http>
            <format>
                <label>
                    <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>
                        {
                        "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS}",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger{36}",
                        "message": "%message",
                        "exception": "%ex{full}"
                        }
                    </pattern>
                </message>
            </format>
            <batchTimeoutMs>5000</batchTimeoutMs>
            <sendQueueMaxBytes>41943040</sendQueueMaxBytes>
            <verbose>false</verbose>
        </appender>
        
        <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="LOKI"/>
            <queueSize>256</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <maxFlushTime>0</maxFlushTime>
            <neverBlock>true</neverBlock>
            <includeCallerData>false</includeCallerData>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_LOKI"/>
        </root>
        <logger name="com.example.demo" level="INFO"/>
    </springProfile>
    
    <springProfile name="dev &amp; !loki">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example.demo" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
    
    <springProfile name="!dev &amp; !prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
